{{ ansible_managed | comment }}
---

services:
  {{ pihole_docker_config.name }}:
    image: {{ pihole_docker_config.image }}:{{ pihole_docker_config.tag }}
    container_name: {{ pihole_docker_config.name }}
    restart: {{ pihole_docker_config.restart_policy }}
    environment:
      - FTLCONF_webserver_api_password={{ pihole_service_config.web_password }}
      - FTLCONF_webserver_port={{ pihole_service_config.web_port }}
      - FTLCONF_webserver_interface_theme={{ pihole_service_config.web_theme }}
      - FTLCONF_dns_upstreams={{ pihole_service_config.upstream_dns | join(';') }}
      - FTLCONF_dns_listeningMode={{ pihole_service_config.dns_listening_mode }}
      - FTLCONF_dns_dnssec={{ pihole_service_config.dnssec | lower }}
      - FTLCONF_dns_queryLogging={{ pihole_service_config.query_logging | lower }}
      - FTLCONF_dns_bogusPriv={{ pihole_service_config.dns_bogus_priv | lower }}
      - FTLCONF_dns_domainNeeded={{ pihole_service_config.dns_fqdn_required | lower }}
{% if pihole_service_config.etc_dnsmasq_d %}
      - FTLCONF_misc_etc_dnsmasq_d=true
{% endif %}
      - TZ={{ pihole_docker_config.timezone }}
    volumes:
      - {{ pihole_docker_config.path }}/data:/etc/pihole
{% if pihole_service_config.etc_dnsmasq_d %}
      - {{ pihole_docker_config.path }}/dnsmasq.d:/etc/dnsmasq.d
{% endif %}
      - /etc/localtime:/etc/localtime:ro
      - /etc/timezone:/etc/timezone:ro
{% if pihole_docker_config.network_mode == 'bridge' %}
    ports:
      - "53:53/tcp"
      - "53:53/udp"
      - "{{ pihole_service_config.web_port }}:{{ pihole_service_config.web_port }}/tcp"
{% endif %}
    network_mode: {{ pihole_docker_config.network_mode }}
    cap_add:
      - NET_ADMIN
      - CHOWN
      - SYS_NICE
