version: "3.7"
services:
  {{ postgres_name }}:
    image: {{ postgres_image }}:{{ postgres_tag }}
    container_name: {{ postgres_name }}
    restart: {{ docker_restart_policy }}
    environment:
      - POSTGRES_USER={{ postgres_username }}
      - POSTGRES_PASSWORD={{ postgres_password }}
      - POSTGRES_DB={{ postgres_database }}
      - POSTGRES_MULTIPLE_DATABASES={{ postgres_initial_databases | join(' ') }}
      - TZ={{ timezone }}
    volumes:
      - {{ service_root_path }}/{{ postgres_name }}/postgres_init.sh:/docker-entrypoint-initdb.d/postgres_init.sh
      - {{ service_root_path }}/{{ postgres_name }}/postgresql.conf:/etc/postgresql/postgresql.conf
      - /etc/localtime:/etc/localtime:ro
      - /etc/timezone:/etc/timezone:ro
{% if docker_network_mode == "bridge" %}
    ports:
      - "{{ postgres_port }}:{{ postgres_port }}"
{% endif %}
    network_mode: {{ docker_network_mode }}
    command: "postgres -c config_file=/etc/postgresql/postgresql.conf"
    shm_size: 128m
