---

services:
  {{ torrserver_docker_config.name }}:
    image: {{ torrserver_docker_config.image }}:{{ torrserver_docker_config.tag }}
    container_name: {{ torrserver_docker_config.name }}
    restart: {{ torrserver_docker_config.restart_policy }}
    environment:
      - TS_PORT={{ torrserver_service_config.listening_port }}
      - TZ={{ torrserver_docker_config.timezone }}
    volumes:
      - {{ torrserver_docker_config.path }}/db:/TS/db
    network_mode: {{ torrserver_docker_config.network_mode }}
    shm_size: 256m
