---

services:
  {{ torrserver_name }}:
    image: {{ torrserver_image }}:{{ torrserver_tag }}
    container_name: {{ torrserver_name }}
    restart: {{ torrserver_restart_policy }}
    environment:
      - TS_PORT={{ torrserver_port }}
      - TZ={{ torrserver_timezone }}
    volumes:
      - {{ torrserver_path }}/db:/TS/db
    network_mode: {{ torrserver_network_mode }}
    shm_size: 256m
