---

services:
  {{ xray_name }}:
    image: {{ xray_image }}:{{ xray_tag }}
    container_name: {{ xray_name }}
    restart: {{ xray_restart_policy }}
    environment:
      - TZ={{ xray_timezone }}
    volumes:
      - {{ xray_path }}/config.json:/etc/xray/config.json
{% for xray_geofile in xray_geofiles %}
      - {{ xray_path }}/data/{{ xray_geofile.name }}.dat:/usr/bin/{{ xray_geofile.name }}.dat
{% endfor %}
      - /etc/localtime:/etc/localtime:ro
      - /etc/timezone:/etc/timezone:ro
{% if xray_network_mode == 'bridge' %}
    ports:
      - "{{ xray_listening_port }}:{{ xray_listening_port }}"
{% endif %}
    network_mode: {{ xray_network_mode }}
