
{
{% if (xray_server_config.dns | default({})).items() | length > 0 %}
  "dns": {
{% for key, value in xray_server_config.dns.items() %}
    {{ key | to_nice_json(sort_keys=false) |
    trim | indent(4) }}: {{ value | to_nice_json(sort_keys=false) |
    trim | indent(4) }}{{ ',' if not loop.last }}
{% endfor %}
  },
{% endif %}
  "inbounds": [
    {
      "listen": "{{ xray_server_config.listening_address }}",
      "port": {{ xray_server_config.listening_port }},
      "protocol": "vless",
      "tag": "{{ xray_server_config.tag }}",
      "settings": {
        "clients": [
{% for client in xray_all_clients %}
          {
            "email": "{{ client.email }}",
            "id": "{{ client.id }}",
            "flow": "xtls-rprx-vision"
          }{{ ',' if not loop.last }}
{% endfor %}
        ],
        "decryption": "none"
      },
      "streamSettings": {
        "network": "tcp",
        "security": "reality",
        "realitySettings": {
          "target": "{{ xray_server_config.vless_address }}:{{ xray_server_config.target_port }}",
          "serverNames": [
            "{{ xray_server_config.vless_address }}"
          ],
          "privateKey": "{{ xray_server_config.private_key }}",
          "shortIds": [
{% for client in xray_all_clients %}
            "{{ client.shortId }}"{{ ',' if not loop.last }}
{% endfor %}
          ]
        }
      },
      "sniffing": {
          "enabled": true,
          "destOverride": [
              "http",
              "tls",
              "quic"
          ],
          "routeOnly": false
      }
    }
  ],
{% if xray_server_config.outbounds | default([]) | length > 0 %}
  "outbounds": [
{% for outbound in xray_server_config.outbounds %}
      {{ outbound | to_nice_json(indent=4, sort_keys=false) |
      trim | indent(6) }}{{ ',' if not loop.last }}
{% endfor %}
  ],
{% endif %}
{% if (xray_server_config.routing | default({})).items() | length > 0 %}
  "routing": {
{% for key, value in xray_server_config.routing.items() %}
    {{ key | to_nice_json(sort_keys=false) |
    trim | indent(4) }}: {{ value | to_nice_json(sort_keys=false) |
    trim | indent(4) }}{{ ',' if not loop.last }}
{% endfor %}
  },
{% endif %}
{% if (xray_server_config.log | default({})).items() | length > 0 %}
  "log": {
{% for key, value in xray_server_config.log.items() %}
    {{ key | to_nice_json(sort_keys=false) |
    trim | indent(4) }}: {{ value | to_nice_json(sort_keys=false) |
    trim | indent(4) }}{{ ',' if not loop.last }}
{% endfor %}
  }
{% endif %}
}
