---

services:
  {{ alertmanager_name }}:
    image: {{ alertmanager_image }}:{{ alertmanager_tag }}
    container_name: {{ alertmanager_name }}
    restart: {{ alertmanager_restart_policy }}
    environment:
      - TZ={{ alertmanager_timezone }}
    volumes:
      - {{ alertmanager_path }}:/etc/alertmanager
      - /etc/localtime:/etc/localtime:ro
      - /etc/timezone:/etc/timezone:ro
{% if alertmanager_network_mode == "bridge" %}
    ports:
      - "{{ alertmanager_listening_port }}:{{ alertmanager_listening_port }}"
{% endif %}
    network_mode: {{ alertmanager_network_mode }}
    command: {{ alertmanager_command | list }}
