---

apiVersion: 1

datasources:
  - name: {{ grafana_source_name }}
    type: {{ grafana_source_type }}
    access: proxy
    orgId: 1
    url: {{ grafana_source_url }}:{{ grafana_source_port }}
    basicAuth: false
    isDefault: true
    jsonData:
      graphiteVersion: "1.1"
      tlsAuth: false
      tlsAuthWithCACert: false
    secureJsonData:
      tlsCACert: "..."
      tlsClientCert: "..."
      tlsClientKey: "..."
    version: 1
    editable: true
