---

services:
  {{ grafana_docker_config.name }}:
    image: {{ grafana_docker_config.image }}:{{ grafana_docker_config.tag }}
    container_name: {{ grafana_docker_config.name }}
    restart: {{ grafana_docker_config.restart_policy }}
    environment:
      - GF_SERVER_HTTP_PORT={{ grafana_service_config.listening_port }}
      - GF_SECURITY_ADMIN_USER={{ grafana_service_config.admin_username }}
      - GF_SECURITY_ADMIN_PASSWORD={{ grafana_service_config.admin_password }}
      - GF_INSTALL_PLUGINS={{ grafana_plugins | join(',')}}
      - TZ={{ grafana_docker_config.timezone }}
    volumes:
      - {{ grafana_docker_config.path }}/provisioning/dashboards:/etc/grafana/provisioning/dashboards
      - {{ grafana_docker_config.path }}/provisioning/datasources:/etc/grafana/provisioning/datasources
      - {{ grafana_docker_config.path }}/dashboards:/var/lib/grafana/dashboards
      - /etc/localtime:/etc/localtime:ro
      - /etc/timezone:/etc/timezone:ro
{% if grafana_docker_config.network_mode == "bridge" %}
    ports:
      - "{{ grafana_service_config.listening_port }}:{{ grafana_service_config.listening_port }}"
{% endif %}
    network_mode: {{ grafana_docker_config.network_mode }}
