#jinja2: trim_blocks: True, lstrip_blocks: True
apiVersion: 1

datasources:
- name: {{ prometheus_name }}
  type: {{ prometheus_name }}
  access: proxy
  orgId: 1
  url: http://{{ ansible_host }}:{{ prometheus_port }}
  basicAuth: false
  isDefault: true
  jsonData:
    graphiteVersion: "1.1"
    tlsAuth: false
    tlsAuthWithCACert: false
  secureJsonData:
    tlsCACert: "..."
    tlsClientCert: "..."
    tlsClientKey: "..."
  version: 1
  editable: true
