version: "3.7"
services:
  {{ drone_name }}:
    image: {{ drone_image }}:{{ drone_tag }}
    container_name: {{ drone_name }}
    restart: {{ docker_restart_policy }}
    environment:
      - DRONE_GITEA_CLIENT_ID={{ drone_gitea_client_id }}
      - DRONE_GITEA_CLIENT_SECRET={{ drone_gitea_client_secret }}
      - DRONE_GITEA_SERVER={{ drone_gitea_server }}
      - DRONE_GIT_ALWAYS_AUTH=false
      - DRONE_RPC_SECRET={{ drone_rpc_secret }}
      - DRONE_SERVER_PROTO={{ drone_server_proto }}
      - DRONE_SERVER_HOST={{ drone_server_host }}:{{ drone_server_port }}
      - DRONE_SERVER_PORT=:{{ drone_server_port }}
      - DRONE_USER_CREATE=username:{{ drone_admin_username }},machine:false,admin:true,token:{{ drone_admin_token }}
      - DRONE_PROMETHEUS_ANONYMOUS_ACCESS=true
      - DRONE_DATABASE_DRIVER={{ drone_db_type }}
      - DRONE_DATABASE_DATASOURCE={{ drone_db_type }}://{{ drone_db_user }}:{{ drone_db_password }}@{{ drone_db_address }}/{{ drone_db_name }}?sslmode=disable
      - TZ={{ timezone }}
    volumes:
      - {{ service_root_path }}/{{ drone_name }}/data:/data
      - /var/run/docker.sock:/var/run/docker.sock
      - /etc/localtime:/etc/localtime:ro
      - /etc/timezone:/etc/timezone:ro
{% if docker_network_mode == "bridge" %}
    ports:
      - "{{ drone_server_port }}:{{ drone_server_port }}"
{% endif %}
    network_mode: {{ docker_network_mode }}
