---

services:
  {{ dnscrypt_docker_config.name }}:
    image: {{ dnscrypt_docker_config.image }}:{{ dnscrypt_docker_config.tag }}
    container_name: {{ dnscrypt_docker_config.name }}
    restart: {{ dnscrypt_docker_config.restart_policy }}
    environment:
      - TZ={{ dnscrypt_docker_config.timezone }}
    volumes:
      - {{ dnscrypt_docker_config.path }}/dnscrypt-proxy.toml:/config/dnscrypt-proxy.toml:ro
      - /etc/localtime:/etc/localtime:ro
      - /etc/timezone:/etc/timezone:ro
{% if dnscrypt_docker_config.network_mode == "bridge" %}
    ports:
      - "{{ dnscrypt_service_config.listening_port }}:{{ dnscrypt_service_config.listening_port }}/tcp"
      - "{{ dnscrypt_service_config.listening_port }}:{{ dnscrypt_service_config.listening_port }}/udp"
{% endif %}
    network_mode: {{ dnscrypt_docker_config.network_mode }}
    cap_add:
      - NET_ADMIN
