---

services:
  {{ dnscrypt_name }}:
    image: {{ dnscrypt_image }}:{{ dnscrypt_tag }}
    container_name: {{ dnscrypt_name }}
    restart: {{ dnscrypt_restart_policy }}
    environment:
      - TZ={{ dnscrypt_timezone }}
    volumes:
      - {{ dnscrypt_path }}/dnscrypt-proxy.toml:/config/dnscrypt-proxy.toml:ro
      - /etc/localtime:/etc/localtime:ro
      - /etc/timezone:/etc/timezone:ro
{% if dnscrypt_network_mode == "bridge" %}
    ports:
      - "{{ dnscrypt_listening_port }}:{{ dnscrypt_listening_port }}/tcp"
      - "{{ dnscrypt_listening_port }}:{{ dnscrypt_listening_port }}/udp"
{% endif %}
    network_mode: {{ dnscrypt_network_mode }}
    cap_add:
      - NET_ADMIN
