---

services:
  {{ wireguard_name }}:
    image: {{ wireguard_image }}:{{ wireguard_tag }}
    container_name: {{ wireguard_name }}
    restart: {{ wireguard_restart_policy }}
    environment:
      - TZ={{ wireguard_timezone }}
      - SERVERURL={{ wireguard_public_address }}
      - SERVERPORT={{ wireguard_public_port }}
      - PEERS={{ wireguard_peers | int }}
      - INTERNAL_SUBNET={{ wireguard_internal_subnet }}
      - ALLOWEDIPS={{ wireguard_allowed_ips | join(',') }}
      - PERSISTENTKEEPALIVE_PEERS=all
      - LOG_CONFS=False
    volumes:
      - {{ wireguard_path }}/config:/config
      - /lib/modules:/lib/modules
      - /etc/localtime:/etc/localtime:ro
      - /etc/timezone:/etc/timezone:ro
    network_mode: {{ wireguard_network_mode }}
    cap_add:
      - NET_ADMIN
      - SYS_MODULE
