{
{% if singbox_clients_config.clients |
selectattr('name', 'equalto', item.name) |
rejectattr('platform', 'undefined') |
selectattr('platform', 'in', 'ios') | length == 0 %}
{% set ios = false %}
{% else %}
{% set ios = true %}
{% endif %}
{% if singbox_clients_config.clients |
selectattr('name', 'equalto', item.name) |
rejectattr('platform', 'undefined') |
selectattr('platform', 'in', 'android') | length == 0 %}
{% set android = false %}
{% else %}
{% set android = true %}
{% endif %}
{% if (singbox_clients_config.dns | default({})).items() | length > 0 %}
  "dns": {
{% for key, value in singbox_clients_config.dns.items() %}
    {{ key | to_nice_json(sort_keys=false) |
    trim | indent(4) }}: {{ value | to_nice_json(sort_keys=false) |
    trim | indent(4) }}{{ ',' if not loop.last }}
{% endfor %}
  },
{% endif %}
{% if singbox_clients_config.inbounds | default([]) | length > 0 %}
  "inbounds": [
{% for inbound in singbox_clients_config.inbounds %}
    {
{% for key, value in inbound.items() %}
      {{ key | to_nice_json(sort_keys=false) |
      trim | indent(4) }}: {{ value | to_nice_json(sort_keys=false) |
      trim | indent(4) }}{{ ',' if not loop.last }}
{% endfor %}
    }{{ ',' if not loop.last }}
{% endfor %}
  ],
{% endif %}
{% if singbox_clients_config.endpoints | default([]) | length > 0 %}
  "endpoints": [
{% for endpoint in singbox_clients_config.endpoints %}
    {{ endpoint | to_nice_json(indent=4, sort_keys=false) |
    trim | indent(6) }}{{ ',' if not loop.last }}
{% endfor %}
  ],
{% endif %}
  "outbounds": [
{% for outbound in singbox_clients_config.outbounds %}
    {
{% for key, value in outbound.items() %}
      {{ key | to_nice_json(sort_keys=false) |
      trim | indent(4) }}: {{ value | to_nice_json(sort_keys=false) |
      trim | indent(4) }}{{ ',' if not loop.last }}
{% endfor %}
    }{{ ',' if not loop.last }}
{% endfor %}
  ],
{% if (singbox_clients_config.route | default({})).items() | length > 0 %}
  "route": {
{% for key, value in singbox_clients_config.route.items() %}
    {{ key | to_nice_json(sort_keys=false) |
    trim | indent(4) }}: {{ value | to_nice_json(sort_keys=false) |
    trim | indent(4) }}{{ ',' if not loop.last }}
{% endfor %}
  },
{% endif %}
{% if (singbox_clients_config.log | default({})).items() | length > 0 %}
  "log": {
{% for key, value in singbox_clients_config.log.items() %}
    {{ key | to_nice_json(sort_keys=false) |
    trim | indent(4) }}: {{ value | to_nice_json(sort_keys=false) |
    trim | indent(4) }}{{ ',' if not loop.last }}
{% endfor %}
  },
{% endif %}
  "experimental": {
    "cache_file": {
      "enabled": true
    }
  }
}
