{{ ansible_managed | comment }}
---

services:
  {{ singbox_docker_config.name }}:
    image: {{ singbox_docker_config.image }}:{{ singbox_docker_config.tag }}
    container_name: {{ singbox_docker_config.name }}
    restart: {{ singbox_docker_config.restart_policy }}
    environment:
      - TZ={{ singbox_docker_config.timezone }}
    volumes:
      - {{ singbox_docker_config.path }}/config.json:/etc/sing-box/config.json:ro
      - {{ singbox_docker_config.path }}/data:/var/lib/sing-box
      - /etc/localtime:/etc/localtime:ro
      - /etc/timezone:/etc/timezone:ro
{% if singbox_docker_config.network_mode == 'bridge' %}
    ports:
      - "{{ singbox_server_config.listening_port }}:{{ singbox_server_config.listening_port }}"
      - "{{ singbox_server_config.dns_port }}:{{ singbox_server_config.dns_port }}/tcp"
      - "{{ singbox_server_config.dns_port }}:{{ singbox_server_config.dns_port }}/udp"
{% endif %}
    network_mode: {{ singbox_docker_config.network_mode }}
    cap_add:
      - NET_ADMIN
    command: -D /var/lib/sing-box -C /etc/sing-box/ run
{% if singbox_restarter.enabled %}
  restarter:
    image: {{ singbox_restarter.image }}
    container_name: {{ singbox_docker_config.name }}-restarter
    restart: {{ singbox_docker_config.restart_policy }}
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    command:
      - /bin/sh
      - -c
      - while true; do sleep {{ singbox_restarter.interval }}; docker restart {{ singbox_docker_config.name }}; done
{% endif %}
