
{
{% if (singbox_server_config.dns | default({})).items() | length > 0 %}
  "dns": {
{% for key, value in singbox_server_config.dns.items() %}
    {{ key | to_nice_json(sort_keys=false) |
    trim | indent(4) }}: {{ value | to_nice_json(sort_keys=false) |
    trim | indent(4) }}{{ ',' if not loop.last }}
{% endfor %}
  },
{% endif %}
{% if singbox_server_config.endpoints | default([]) | length > 0 %}
  "endpoints": [
{% for endpoint in singbox_server_config.endpoints %}
    {{ endpoint | to_nice_json(indent=4, sort_keys=false) |
    trim | indent(6) }}{{ ',' if not loop.last }}
{% endfor %}
  ],
{% endif %}
  "inbounds": [
    {
      "type": "vless",
      "listen": "{{ singbox_server_config.listening_address }}",
      "listen_port": {{ singbox_server_config.listening_port }},
      "users": [
{% for client in sing_box_all_clients %}
        {
          "name": "{{ client.name }}",
          "uuid": "{{ client.uuid }}",
          "flow": "xtls-rprx-vision"
        }{{ ',' if not loop.last }}
{% endfor %}
      ],
      "tls": {
        "enabled": true,
        "server_name": "{{ singbox_server_config.vless_address }}",
        "reality": {
          "enabled": true,
          "handshake": {
            "server": "{{ singbox_server_config.vless_address }}",
            "server_port": {{ singbox_server_config.vless_port }}
            },
            "private_key": "{{ singbox_server_config.private_key }}",
            "short_id": [
{% for client in sing_box_all_clients %}
              "{{ client.short_id }}"{{ ',' if not loop.last }}
{% endfor %}
            ],
            "max_time_difference": "5m"
        }
      }
    }
  ],
{% if singbox_server_config.outbounds | default([]) | length > 0 %}
  "outbounds": [
{% for outbound in singbox_server_config.outbounds %}
      {{ outbound | to_nice_json(indent=4, sort_keys=false) |
      trim | indent(6) }}{{ ',' if not loop.last }}
{% endfor %}
  ],
{% endif %}
{% if (singbox_server_config.route | default({})).items() | length > 0 %}
  "route": {
{% for key, value in singbox_server_config.route.items() %}
    {{ key | to_nice_json(sort_keys=false) |
    trim | indent(4) }}: {{ value | to_nice_json(sort_keys=false) |
    trim | indent(4) }}{{ ',' if not loop.last }}
{% endfor %}
  },
{% endif %}
{% if (singbox_server_config.log | default({})).items() | length > 0 %}
  "log": {
{% for key, value in singbox_server_config.log.items() %}
    {{ key | to_nice_json(sort_keys=false) |
    trim | indent(4) }}: {{ value | to_nice_json(sort_keys=false) |
    trim | indent(4) }}{{ ',' if not loop.last }}
{% endfor %}
  },
{% endif %}
  "experimental": {
    "cache_file": {
      "enabled": true
    }
  }
}
