---

services:
  {{ prometheus_name }}:
    image: {{ prometheus_image }}:{{ prometheus_tag }}
    container_name: {{ prometheus_name }}
    restart: {{ prometheus_restart_policy }}
    environment:
      - TZ={{ prometheus_timezone }}
    volumes:
      - {{ prometheus_path }}:/etc/prometheus
      - /etc/localtime:/etc/localtime:ro
      - /etc/timezone:/etc/timezone:ro
{% if prometheus_network_mode == "bridge" %}
    ports:
      - "{{ prometheus_listening_port }}:{{ prometheus_listening_port }}"
{% endif %}
    network_mode: {{ prometheus_network_mode }}
    command: {{ prometheus_command | list }}
