---

services:
  {{ prometheus_docker_config.name }}:
    image: {{ prometheus_docker_config.image }}:{{ prometheus_docker_config.tag }}
    container_name: {{ prometheus_docker_config.name }}
    restart: {{ prometheus_docker_config.restart_policy }}
    environment:
      - TZ={{ prometheus_docker_config.timezone }}
    volumes:
      - {{ prometheus_docker_config.path }}:/etc/prometheus
      - /etc/localtime:/etc/localtime:ro
      - /etc/timezone:/etc/timezone:ro
{% if prometheus_docker_config.network_mode == "bridge" %}
    ports:
      - "{{ prometheus_service_config.listening_port }}:{{ prometheus_service_config.listening_port }}"
{% endif %}
    network_mode: {{ prometheus_docker_config.network_mode }}
    command: {{ prometheus_command | list }}
