---

global:
  {{ prometheus_global_config | to_nice_yaml(indent=2, sort_keys=false) | trim | indent(2) }}

alerting:
  alertmanagers:
    {{ prometheus_alert_jobs | to_nice_yaml(indent=2, sort_keys=false) | trim | indent(4) }}

rule_files:
- alerts/*.yml

scrape_configs:
  {{ prometheus_scrape_jobs | to_nice_yaml(indent=2, sort_keys=false) | trim | indent(2) }}
