---

services:
  {{ node_exporter_name }}:
    image: {{ node_exporter_image }}:{{ node_exporter_tag }}
    container_name: {{ node_exporter_name }}
    restart: {{ node_exporter_restart_policy }}
    environment:
      - TZ={{ node_exporter_timezone }}
    volumes:
      - /proc:/host/proc:ro
      - /sys:/host/sys:ro
      - /:/rootfs:ro
      - /:/host:ro,rslave
      - /etc/localtime:/etc/localtime:ro
      - /etc/timezone:/etc/timezone:ro
{% if node_exporter_network_mode == "bridge" %}
    ports:
      - "{{ node_exporter_listening_port }}:{{ node_exporter_listening_port }}"
{% endif %}
    network_mode: {{ node_exporter_network_mode }}
    pid: host
    command: {{ node_exporter_command | list }}
