---

services:
  {{ node_exporter_docker_config.name }}:
    image: {{ node_exporter_docker_config.image }}:{{ node_exporter_docker_config.tag }}
    container_name: {{ node_exporter_docker_config.name }}
    restart: {{ node_exporter_docker_config.restart_policy }}
    environment:
      - TZ={{ node_exporter_docker_config.timezone }}
    volumes:
      - /proc:/host/proc:ro
      - /sys:/host/sys:ro
      - /:/rootfs:ro
      - /:/host:ro,rslave
      - /etc/localtime:/etc/localtime:ro
      - /etc/timezone:/etc/timezone:ro
{% if node_exporter_docker_config.network_mode == "bridge" %}
    ports:
      - "{{ node_exporter_service_config.listening_port }}:{{ node_exporter_service_config.listening_port }}"
{% endif %}
    network_mode: {{ node_exporter_docker_config.network_mode }}
    pid: host
    command: {{ node_exporter_command | list }}
